.Right-SideBar{
    color: white;
    background: #FFFFFF;
    position: relative;
    height: 95vh;
    overflow-y: scroll;
}
.rs-profile{
    padding-top: 60px;
    text-align: center;
    max-width: 70%;
    margin: auto;
}
.rs-profile img{
    width: 110px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.rs-profile h3{
    color: black;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0px;
}
.About{
   padding: 17px 30px 19px;

}
.About p{
    font-size: 10px;
    opacity: 80%;
    font-weight: 300;
    color: black;
    font-size: 16px;
}
.About div{
    color: #667781;
    font-size: 15px;
}
.hrline{
    height: 2px;
    background:#acaaaa50 ;
    margin-top: 15px;
   

}
.rs-media{
    padding: 0px 20px;
    font-size: 13px;
    margin-top: 15px;
}
.rs-media p{
color: black;
}
.rs-media div{
    max-height: 180px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 8px;
}
.rs-media div img{
    width: 95px;
    border-radius: 4px;
    cursor: pointer;
}
.Right-SideBar button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #077eff;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 65px;
    border-radius: 20px;
    cursor: pointer;
}
.closeBtn{
    width: 24px;
}
.RightSideBarHeader{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    color: #667781;
}
@media (max-width:900px) {
    .Right-SideBar{
        display: none;
    }
}